@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*
{
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', sans-serif;
}

body 
{
    position: absolute;
    width: 100%;
    height: 100%;
    
    float: left;
    
    min-width: calc( var(--kw-logo-size) + var(--kw-min-width));
}

:root 
{
    --kw-color-1: #0d324d;
    --kw-color-2: #2d4a63;
    --kw-color-3: #82ba77;
    --kw-color-4: #e5bb00;
    --kw-color-5: #9da2ab;
    
    --kw-color-form: white;
    --kw-color-background: #eaeaea;
    
    --kw-color-delete: #db3232;
    --kw-color-delete-alternative: #ed4444;
    
    --kw-color-dial: #333333;
    
    --kw-color-3-alternative: #8ADB7A;
    
    --kw-color-event: #dcffb7;
    
    --kw-nav-text: #2B4426;
    
    --kw-logo-size: 75px;
    
    --kw-padding: 20px;
    --kw-padding-button: 10px;
    --kw-padding-label: 10px;
    
    --kw-min-width: 400px;
}

.container
{
    display: inline-block;
    float: left;
    
}

.kw-button-add, .kw-button-delete
{
    border: none;
    border-radius: 10px;
    padding: var(--kw-padding-button);
    
    text-decoration: none;
    color: white;
    float: left;
    
    cursor: pointer;
    
    font-size: 16px;
}

.kw-button-add
{
    background-color: var(--kw-color-3);
}

.kw-button-add:hover
{
    background-color: var(--kw-color-3-alternative);
}

.kw-button-delete
{
    background-color: var(--kw-color-delete);
}

.kw-button-delete:hover
{
    background-color: var(--kw-color-delete);
}

.kw-margin-top-bottom
{
    margin-top: var(--kw-padding);
    margin-bottom: var(--kw-padding);
}

#kw-container
{
    position: relative;
    width: 100%;
    height: 100%;
    
    background-color: var(--kw-color-5);
}

#kw-logo-container
{
    width: var(--kw-logo-size);
    height: var(--kw-logo-size);
    
    background-color: var(--kw-color-1);
    background-image: url('assets/img/logo-250.png');
    
    background-size: calc(var(--kw-logo-size) - 40%);
    background-position: center;
    background-repeat: no-repeat;
}

/*
 KiloWhat Header
*/

#kw-header-container
{
    width: calc( 100% - var(--kw-logo-size));
    height: var(--kw-logo-size);
    
    line-height: var(--kw-logo-size);
    
    background-color: var(--kw-color-2);
}

#kw-header-container h1
{
    margin-left: var(--kw-padding);
    color: white;
}

/*
 KiloWhat Nav
*/

#kw-nav-container
{
    width: var(--kw-logo-size);
    height: calc( 100% - var(--kw-logo-size));
    
    background-color: var(--kw-color-3);
}

#kw-nav-container ul
{
    display: flex;
    flex-direction: column;
    
    text-decoration: none;
    list-style: none;
    
    width: 100%;
    height: var(--kw-logo-size);
}

#kw-nav-container ul li
{
    width: var(--kw-logo-size);
    height: var(--kw-logo-size);
    
    text-align: center;
    line-height: var(--kw-logo-size);
    
    cursor: pointer;
    
    color: var(--kw-nav-text);
    
    font-size: calc( var(--kw-logo-size) - 50px);
    
    transition: 0.5s;
}

#kw-nav-container ul li:hover
{
    background-color:  var(--kw-color-3-alternative);
}

#kw-nav-container ul .kw-active
{
    background-color: var(--kw-color-background);
}

#kw-nav-container ul .kw-active:hover
{
    background-color: white;
}

/*
 content
*/ 

.kw-content-container
{
    float: left;
    
    width: calc( 100% - var(--kw-logo-size));
    height: calc( 100% - var(--kw-logo-size));
    
    background-color: var(--kw-color-background);
    
    padding: var(--kw-padding);
    
    box-sizing: border-box;
    
    overflow: auto;
    
    min-width: var(--kw-min-width);
}

.kw-meter-container
{
    float: left;
    border: 1px solid lightgray;
    
    width: calc( 100% - 2 * var(--kw-padding));
    
    padding: var(--kw-padding);
    margin-bottom: var(--kw-padding);
    
    background-color: var(--kw-color-form);
}

.kw-meter-top
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kw-meter-center
{
    margin-top: var(--kw-padding);
    float: left;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kw-meter-center-left
{
    float: left;
    
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: var(--kw-padding);
    
    display: flex;
    flex-direction: column;
}

.kw-meter-dial-container:last-child
{
    margin-bottom: 0;
}

.kw-meter-dial-container a
{
    float: right;
}

.kw-meter-dial-container
{
    float: left;
    margin-bottom: var(--kw-padding);
    
    font-size: 16px;
    line-height: 16px;
}

.kw-meter-dial-reading, .kw-meter-dial-icon
{
    box-sizing: border-box;
}

.kw-meter-dial-reading
{
    float: left;
    background-color: var(--kw-color-dial);
    padding: var(--kw-padding-button);
    margin-right: var(--kw-padding);
    
    color: white;
}

.kw-meter-dial-icon
{
    float: left;
    vertical-align: baseline;
    padding: var(--kw-padding-button);
    
    min-width: 20px;
    text-align: center;
    font-size: 16px;
}

/*
 form
*/

form 
{
    margin-top: var(--kw-padding);
    margin-bottom: var(--kw-padding);
    
    padding: var(--kw-padding);
    border: 1px solid lightgray;
    
    width: calc( 100% - 2 * var(--kw-padding));
    
    float: left;
    
    background-color: var(--kw-color-form);
}

form label, form input
{
    float: left;
    width: calc(100% - var(--kw-padding));
}

form label
{
    margin-bottom: var(--kw-padding-label);
}

form input
{
    margin-bottom: var(--kw-padding);
    
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
}

.kw-form-control-container
{
    width: 100%;
    text-align: left;
}

.kw-form-control-container label
{
    width: 100%;
}

.kw-form-radio
{
    float: none;
    width: auto;
}

.kw-form-radio-content
{
    float: none;
}

/*
 Events
*/

.kw-event-container:first-of-type
{
    margin-top: var(--kw-padding);
}

.kw-event-center
{
    width: 100%;
    
    border-collapse: collapse;
    
    margin-top: var(--kw-padding);
    
    overflow-x:auto;
}

.kw-event-header, .kw-event-body
{
    width: calc(100% - 2 * var(--kw-padding-button));
    
    text-align: left;
}

.kw-event-header
{
    background-color: var(--kw-color-3);
}

.kw-event-header th, .kw-event-body tr td
{
    padding: var(--kw-padding-button);
}

.kw-event-body tr:nth-child(even) td
{
    background-color: var(--kw-color-background);
}

.kw-event-body tr:hover td
{
    background-color: var(--kw-color-event);
}

.kw-event-body tr td
{
    transition: 0.5s;
    border-bottom: 1px solid var(--kw-color-5);
}